$defaultDuration: 0.3s;

.picutre {
  width: 300px;
  border: thick solid #fff;
  border-radius: 5%;
  transition-duration: $defaultDuration;
  z-index: 1;

  &:hover {
    transform: scale(1.3);
  }
}

#grid{
  margin: 0 auto;
}

.grid-item{
  margin: 0 auto;
  &:hover {
    z-index: 10;
  }
}

.page-load-status {
  display: none; /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777;
}

.cap-pagination{
  display: none;
}
