$defaultDuration: 0.3s;

.picutre {
  width: 420px;
  border: thick solid #fff;
  border-radius: 5%;
  transition-duration: $defaultDuration;
  z-index: 1;

  &:hover {
    transform: scale(1.3);
  }
}

.grid-item{
  margin-bottom: 10px;

  &:hover {
    z-index: 10;
  }
}

#infscr-loading {
  img {
    transition-duration: $defaultDuration;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
