$defaultDuration: 0.3s;

.picutre {
  width: 350px;
  border: thick solid #fff;
  border-radius: 5%;
  transition-duration: $defaultDuration;
  z-index: 1;
  image-rendering: auto;

  &:hover {
    transform: scale(1.5);
  }
}

#grid{
  margin: 0 auto;
}

.grid-item{
  margin: 0 auto;
  &:hover {
    z-index: 10;
  }
}

.page-load-status {
  display: none; /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777;
}

.cap-pagination{
  display: none;
}

.sidebar {
  position: fixed;
  top: 20%;
  bottom: 0;
  right: 0;
  z-index: 1000;
  text-align: center;
}
