@mixin improveAntiAlias() {
	//Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@media screen and (max-width: 1360px){
  #vertical-picture, #horizontal-picture{
    width: 100%;
  }
}

@media screen and (min-width: 1360px){
  #vertical-picture{
    height: 100%;
  }

  #horizontal-picture{
    width: 100%;
  }
}

.fav-expand{
  transition-duration: 500ms;
  transform: scale(1.3);
}
