.bootstrap-tagsinput {
  width: 100% !important;
}

.tag-list{
  background-color: #bbb;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  li {
    display: inline-block;
    margin: 5px;
  }
}
