= form_for capture, class: "form-horizontal panel" do |f|
  = render partial: "common/errors", locals: {form: capture}

  .form-group.row
    = label_tag :anime_title, "アニメタイトル", class: "col-md-3 form-label"
    .col-md-6
      = text_field_tag :anime_title, @anime.try(:title), class: "form-control", id: "anime-text", autocomplete: :off
      ul#anime-suggest.list-group.suggest style="display:none;"

    .col-md-3 style="text-align:left;"
      = link_to "アニメ登録", new_anime_path, class: "btn btn-default"

  .form-group.row
    = f.label :tag_list, "タグ(ｶﾝﾏ/enter区切り)", class: "col-md-3 form-label"
    .col-md-6
      = text_field_tag 'capture[tag_list]', capture.tag_list.join(', '), "data-role" => "tagsinput", class: "form-control"

  .form-group.row
    = f.label :picture, "画像", class: "col-md-3 form-label"
    .col-md-6
      = f.file_field :picture, id: "picture", style: "display:none"
      .input-group
        input#pictureCoverTextField.form-control type="text" placeholder="select file..."
        span.input-group-btn
          button#browser-btn.btn.btn-info type="button" Browse

  .form-group
    .cap-image= capture.picture.present? ? image_tag(capture.picture.url(:large)) : "no Image"

  = f.submit "保存", class: "btn btn-primary"

javascript:
  $(function() {
    // アニメ入力処理
    var animes = #{@animes.map(&:title).to_json.html_safe}
    animeSuggest(animes);

    // タグ入力処理
    $("input[data-role=tagsinput], select[multiple][data-role=tagsinput]").tagsinput();

    // 画像読み込み処理
    fileRead();

    var hash = {x: 100, y: 100, w: 100, h: 100, name: "chara", emotion_id: 1};
    for (key in hash) {
      var input = $("<input>").attr("type", "hidden").attr("name", `characters[0][${key}]`).val(hash[key]);
      $('form').append($(input));
    };
  });
