<div id="captures" class="col-md-10 col-md-offset-1">
  <ul class="page">
    <%= render @captures %>
  </ul>
</div>

<br>

<div style="display: none;">
  <%= paginate @captures %>
</div>

<script>
  $(function(){
    loading();
  });
</script>
