.col-md-6.col-md-offset-3 style="text-align: center;"

  開発中確認用ID：#{@capture.id}
  = @capture.name

  ul.list-inline style="text-align: right;"
  - emotion = Emotion.find(@capture.emotion_id)
  - if emotion.present?
    li.btn.btn-primary = "#{emotion.ja_name} #{emotion.icon}"
    li = link_to '編集', edit_capture_path(@capture), class: "btn btn-primary"
    li = link_to '削除', @capture, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-outline"
  ul

  .show-img
    = link_to image_tag(@capture.picture.url(:large), id: "picture") , @capture.picture.url(:original), target: ["_blank"]

  .tag-list
    ul.list-inline
      li
        span#tag-icon.glyphicon.glyphicon-tags aria-hidden="true"
        - @capture.tag_list.each do |tag|
          li
            span.label.label-primary = link_to tag, captures_path(search: tag), class: "tag"

  table.table.table-striped
    tr
      td アニメタイトル
      td = @anime.try(:title) || "-"
