<div class="col-md-10 col-md-offset-1" style="padding-bottom: 50px;">

  <%= paginate @pictures %>

  <div id="pictures">
    <ul class="page">
      <% float = "right" %>
      <%= render @pictures %>
    </ul>
  </div>

  <%= paginate @pictures %>
  
</div>
