<div id="pictures" class="col-md-10 col-md-offset-1">
  <ul class="page">
    <% float = "right" %>
    <%= render @pictures %>
  </ul>
</div>

<br>

<div style="display: none;">
  <%= paginate @pictures %>
</div>
