<div class="col-md-10 col-md-offset-1" style="padding-bottom: 50px;">
  <div id="pictures">
    <ul class="page">
      <% float = "right" %>
      <%= render @pictures %>
    </ul>
  </div>
</div>

<%= paginate @pictures %>
