<div id="pictures" class="col-md-10 col-md-offset-1">
  <ul class="page">
    <% float = "right" %>
    <%= render @pictures %>
  </ul>
</div>

<br>

<div style="display: none;">
  <%= paginate @pictures %>
</div>

<script>
$(function(){
  $("#pictures .page").infinitescroll({
    loading: {
      img:     "<%= image_url "loading.gif" %>",
      msgText: ""
    },
    navSelector: "nav.pagination",
    nextSelector: "nav.pagination a[rel=next]",
    itemSelector: "#pictures li"
  });
});
</script>
