<% if form.errors.any? %>
  <div id="error_explanation" class="alert alert-danger col-md-10 col-md-offset-1">
    <h3><%= pluralize(form.errors.count, "error") %> prohibited this form from being saved:</h3>
    <ul>
    <% form.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
